@import url(../node_modules/foundation-sites/dist/css/foundation.min.css);
.App {
  text-align: center; }

section {
  width: 100%;
  background: #ebebeb; }

.App-logo {
  height: 80px; }

.App-header {
  background-color: #333;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.footer {
  background-color: #333;
  color: white; }

.button {
  color: #fff;
  background-color: #069;
  border-radius: 3px; }

.green {
  box-shadow: inset 0px 0px 7px green, 0px 0px 7px green; }
